<body>
  <h1>Qnips Essens Table</h1>

  <table>
    <thead>
      <tr>
        <th>
          KW {{dayOffer[0].CalenderWeek}}
        </th>
        @for (dates of dayOffer; track dates){
        <th>
          {{ dates.Day }} <br>
          {{ dates.Date }}
        </th>
        }
      </tr>
    </thead>

    <tbody>
      @for (offer of dayOffer; track offer) {

      <tr>
        @for (angebot of offer.Angebot; track angebot) {
        <td class="category">
          {{ angebot.RowName }}
        </td>
        <td>
          {{ angebot.Aktion.Product }} <br>
          {{ angebot.Aktion.Allergens }} <br>
          <div class="bold">{{ angebot.Aktion.Price + "€" }}</div>
        </td>
        }
      </tr>
      }
      <!-- <tr>
        <td class="category">
          {{ rows[1].Name }}
        </td>
        @for (offer of dayOffer; track offer) {
        <td>
          {{ offer.Aktion2.Product }} <br>
          {{ offer.Aktion2.Allergens }} <br>
          <div class="bold">{{ offer.Aktion2.Price + "€" }}</div>
        </td>
        }
      </tr>

      <tr>
        <td class="category">
          {{ rows[2].Name }}
        </td>
        @for (offer of dayOffer; track offer) {
        <td>
          {{ offer.Salatbar.Product }} <br>
          {{ offer.Salatbar.Allergens }} <br>
          <div class="bold">{{ offer.Salatbar.Price + "€" }}</div>
        </td>
        }
      </tr> -->
    </tbody>
  </table>
</body>