<body>
  <h1>Qnips Essens Table</h1>

  <table>
    <thead>
      <tr>
        <th>
          KW {{dates[0].CalenderWeek}}
        </th>
        @for (dates of dates; track dates){
        <th>
          {{ dates.Day }} <br>
          {{ dates.Date }}
        </th>
        }
      </tr>
    </thead>

    <tbody>
      @for (rowName of rowNames; track rowName) {
      <tr>
        <td class="category">
          {{ rowName.RowName }}
        </td>
      </tr>
      }
      <tr>

        @for (offer of offers; track offer) {
          @for (aktion of offer.Aktion; track aktion) {

        <td>
          {{ aktion.Product }} <br>
          {{ aktion.Allergens }} <br>
          <div class="bold">{{ aktion.Price + "€" }}</div>
        </td>
        }}
      </tr>


      <!-- <tr>
        <td class="category">
          {{ rows[1].Name }}
        </td>
        @for (offer of dayOffer; track offer) {
        <td>
          {{ offer.Aktion2.Product }} <br>
          {{ offer.Aktion2.Allergens }} <br>
          <div class="bold">{{ offer.Aktion2.Price + "€" }}</div>
        </td>
        }
      </tr>

      <tr>
        <td class="category">
          {{ rows[2].Name }}
        </td>
        @for (offer of dayOffer; track offer) {
        <td>
          {{ offer.Salatbar.Product }} <br>
          {{ offer.Salatbar.Allergens }} <br>
          <div class="bold">{{ offer.Salatbar.Price + "€" }}</div>
        </td>
        }
      </tr> -->
    </tbody>
  </table>
</body>